@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
<div class="head head_white">
    <div class="pgtitlearea">
        <h1>Link</h1>
        <p class="pg_caption">Link先画面</p>
    </div>
</div>

<div class="container">
    <div class="content of">
        <h3>Link</h3>
        <div class="mtop20">
            ユーザーID = @ViewBag.id
        </div>
    </div>
</div>

<div class="bottomnav">
    <div class="btnarea">
        @Html.ActionLink("戻る", "Index", null, new { @class = "btn2" })
    </div>
</div>
}