<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    以下の例では、"SetAttributes" 変換により、値が "MyDB" の属性 "name" を 
    "Match" ロケーターが検出した場合にのみ "connectionString" の値に
     "ReleaseSQLServer" を使用するよう変更されます。

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation targetFramework="4.8" debug="true">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"/>
      </assemblies>
    </compilation>
    <!--
      以下の例では、"Replace" 変換により Web.config ファイルの
 <customErrors> セクション全体が置換されます。
 <system.web> ノードには 1 つの customErrors セクションしかないため、
 "xdt:Locator" 属性を使用する必要はありません。

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <!-- 1.RDSに接続するには下記の設定に切り替える -->
        <!--<dataSource alias="oracle" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=jet-dev.cpepzc8brtco.ap-northeast-1.rds.amazonaws.com)(PORT=1521))(CONNECT_DATA=(SID=ORCLJET))) " />-->
        <!-- 2.TCC社内DBに接続するには下記の設定に切り替える -->
        <!--<dataSource alias="oracle" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.18.252.114)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=LOG1796VM2_PDB01))) " />-->
        <!-- 3.for DTCC Database -->
        <dataSource alias="oracle" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.220.248)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=DJ07UTF812C))) " />
      </dataSources>
      <!-- .NetTypeとOracleのDbTypeの数値精度を変更しようと試みたができなかったのでmigrationファイルを直接編集することにした  2018/01/18 m.kato-->
      <!--  参考URL：https://docs.oracle.com/database/121/ODPNT/entityDataTypeMapping.htm#ODPNT8300 -->
      <!--<edmMappings>
           <edmMapping dataType="number">
               <add name="bool" precision="1" />
               <add name="byte" precision="3" />
               <add name="int16" precision="4" />
               <add name="int32" precision="9" />
               <add name="int64" precision="18" />
          </edmMapping>
       </edmMappings>-->
    </version>
  </oracle.manageddataaccess.client>
  <connectionStrings>
    <!-- TCC -->
    <!--<add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=JET_DEV;Password=JET_DEV;Data Source=oracle" />-->
    <!-- DTCC -->
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=WEGO;Password=WEGO;Data Source=oracle" />
  </connectionStrings>
  <!-- .NetTypeとOracleのDbTypeの数値精度を変更しようと試みたができなかったのでmigrationファイルを直接編集することにした  2018/01/18 m.kato -->
  <!--  参考URL：https://docs.oracle.com/database/121/ODPNT/entityDataTypeMapping.htm#ODPNT8300 -->
  <!--<oracle.dataaccess.client>
    <settings>
      <add name="bool" value="edmmapping number(1,0)" />
      <add name="byte" value="edmmapping number(3,0)" />
      <add name="int16" value="edmmapping number(4,0)" />
      <add name="int32" value="edmmapping number(9,0)" />
      <add name="int64" value="edmmapping number(18,0)" />
    </settings>
  </oracle.dataaccess.client>-->
  <glimpse defaultRuntimePolicy="Off" endpointBaseUri="~/Glimpse.axd">
    <!--
          For more information on how to configure Glimpse, please visit http://getglimpse.com/Help/Configuration
          or access {your site}/Glimpse.axd for even more details and a Configuration Tool to support you.
      -->
    <runtimePolicies>
      <ignoredTypes>
        <add type="Glimpse.AspNet.Policy.LocalPolicy, Glimpse.AspNet" />
      </ignoredTypes>
    </runtimePolicies>
  </glimpse>
</configuration>
