<?xml version="1.0" encoding="utf-8"?>

<!-- web.config 変換の使用方法の詳細については、https://go.microsoft.com/fwlink/?LinkId=125889 を参照してください -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=WEGO_WMS_DEV;Password=WEGO_WMS_DEV;Data Source=RDSoracle" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="PrintCcdUrl" value="https://" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)"  targetFramework="4.8">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"/>
      </assemblies>
    </compilation>
    <sessionState mode="Custom" customProvider="MySessionStateStore" xdt:Transform="InsertIfMissing">
      <providers>
        <add name="ElastiCacheRedis" type="Microsoft.Web.Redis.RedisSessionStateProvider" 
             host="clustercfg.prod.demd4y.apne1.cache.amazonaws.com:6379" 
             accessKey="" 
             ssl="true" />
      </providers>
    </sessionState>
  </system.web>
</configuration>