<div class="modal fade" id="SyukkasakiModal">
    <div class="modal-dialog modal-lg modal-dialog-centered" style="max-width: 850px;">
        <div class="modal-content">

            <!-- header -->
            <div class="modal-header">
                <h4 class="modal-title">出荷先を選択する</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- body -->
            <div class="modal-body vh-75">
                @using (Ajax.BeginForm("Index", "SyukkasakiSearchModal", new { area = "Master" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "ajaxDiv", OnComplete = "setStorage();setCheckboxs();" }, new { id = "frmPopSearch" }))
                {
                    <div id="ajaxDiv" class="">
                        @*@Html.Action("Index", "SyukkasakiSearchModal", new { area = "Master" })*@
                        @{Html.RenderAction("Index", "SyukkasakiSearchModal", new { Area = "Master", ParameterStoreId = ViewData["ParameterStoreId"], TempStoreId = ViewData["TempStoreId"]  });}
                    </div>
                }
            </div>
            @Html.Hidden("MyUrl", Url.Action("Index", "SyukkasakiSearchModal", new { area = "Master", ParameterStoreId = ViewData["ParameterStoreId"], TempStoreId = ViewData["TempStoreId"]  }))
            <!-- footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
                    @FormsResource.Close
                </button>
                <button id="btnPopSelect" type="button" class="btn btn-dark" data-dismiss="modal">
                    @FormsResource.BTN_SELECT
                </button>
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/My/SyukkasakiSearchModal.js")"></script>
