@{
    ViewBag.Title = "Typography";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="head head_white">
    <div class="pgtitlearea">
        <h1>Typography</h1>
        <p class="pg_caption">タイトルや文字のスタイルガイド</p>
    </div>
</div>

<div class="container">
    <div class="content of">
        <h3>h1</h3>
        <div class="mtop20">
            <h1>h1のタイトル</h1>
        </div>
        <div class="codearea">
            <p>HeaderNavのタイトルに使用する。</p>
        </div>
    </div>
    <div class="content of">
        <h3>h2</h3>
        <div class="mtop20">
            <h2>h2のタイトル</h2>
        </div>
        <div class="codearea">
            <p>ContentNavのタイトルに使用する。</p>
        </div>
    </div>
    <div class="content of">
        <h3>h3</h3>
        <div class="mtop20">
            <h3>h3のタイトル</h3>
        </div>
        <div class="codearea">
            <p>FotterNavのタイトルに使用する。</p>
        </div>
    </div>
    <div class="content of">
        <h3>p</h3>
        <div class="mtop20">
            <p>
                pを使った文章のサンプル
            </p>
        </div>
        <div class="codearea">
            <p>文章を書くときに使用する。</p>
        </div>
    </div>
</div>